body.dark-mode {
    background-color: #121212;
    color: white;
  }
  
  body.dark-mode .navbar, body.dark-mode .card {
    background-color: #333;
    color: white;
  }
  
  body.dark-mode .btn {
    background-color: #444;
    color: white;
  }
  